<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image Secure</title>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
    </script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
    </script>
    <![endif]-->
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <link rel="stylesheet"
          href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    {{ helpers.assets.css('style') }}
</head>
<body>
    <div data-role="page" id="main-page">
        {% if auth.userId %}
            <div data-role="header">
                <div data-role="navbar" id="navbar">
                    <ul>
                        <li>
                            <a href="#admin-page" id="admin-page-link">
                                <i class="glyphicon glyphicon-user"></i>
                                {{ auth.userName|capitalize }}
                            </a>
                        </li>
                        <li>
                            <a href="#" id="disconnect-link">
                                <i class="glyphicon glyphicon-log-out"></i>
                                Se déconnecter
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        {% else %}
        <div data-role="header">
            <div data-role="navbar">
                <ul>
                    <li><a href="#" id="connection-link">Connexion</a></li>
                </ul>
            </div>
        </div>
        {% endif %}
        <div data-role="main" class="ui-content" id="site-container">
            <h1>Image secure</h1>
            {% block content %}

            {% endblock %}
        </div>
    </div>
    <div data-role="page" id="connection-page" class="mobile-page">
        <h2>Se connecter</h2>
        <form action="/users/connect" method="POST"
              id="connection-form">
            <div data-role="fieldcontain">
                <input type="text" id="username_connect"
                       name="username" placeholder="Nom d'utilisateur">
            </div>
            <div data-role="fieldcontain">
                <input type="password" name="password"
                       placeholder="Mot de passe">
            </div>
            <button type="submit">
                Se connecter
            </button>
            <button type="button" id="register-button">
                S'inscrire
            </button>
        </form>
    </div>
    <div data-role="page" id="register-page" class="mobile-page">
        <h2>Inscription</h2>
        <form action="/register" method="POST" id="register-form">
            <div data-role="fieldcontain">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" placeholder="Nom d'utilisateur"/>

                <label for="firstname">Prénom</label>
                <input type="text" id="firstname" name="firstname" placeholder="Prénom"/>

                <label for="lastname">Nom</label>
                <input type="text" id="lastname" name="lastname" placeholder="Nom"/>

                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe"/>

                <label for="password_confirm">Confirmation</label>
                <input type="password" id="password_confirm" name="password_confirm"
                       placeholder="Confirmation du mot de passe"/>

                <label for="mail">Adresse mail</label>
                <input type="email" id="mail" name="mail" placeholder="Votre adresse mail"/>

                <label for="master_key">Clé principale</label>
                <input type="text" id="master_key" name="master_key" placeholder="Votre clé"/>
            </div>
            <button type="submit" class="ui-shadow ui-btn ui-corner-all">Envoyer</button>
        </form>
    </div>
    <div data-role="page" id="image-view-page" class="mobile-page">
        <h2>Votre image</h2>
    </div>
    <div data-role="page" id="admin-page" class="mobile-page">
        <h3>Historique</h3>
        <div class="content">
            <ul class="list-group" data-role="list-view">
            </ul>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
    <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
    {{ helpers.assets.js('fileHandler') }}
    {{ helpers.assets.js('home') }}
    {{ helpers.assets.js('mobile') }}
    {{ helpers.assets.js('view-mobile') }}
    {{ helpers.assets.js('admin-mobile') }}
    {% block scripts %}

    {% endblock %}
</body>
</html>
